<!-- Modelo que me va a enviar el controlador -->
@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @ViewBag.Nombre Felipe Arana Castillo (@ViewBag.Edad)</h1>
    <h1 class="display-4">Soy @Model (@ViewBag.Edad)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
